[Desktop Entry]
Type=Application
Name=Devilbox Tray
Comment=Control Devilbox from the system tray
Exec=/usr/bin/devilbox-tray
TryExec=/usr/bin/devilbox-tray
Icon=devilbox-tray
Terminal=false
Categories=Development;
StartupNotify=false
Keywords=devilbox;docker;tray;
